# PYTHON ASSIGNMENT 1

# 1. In the below elements which of them are values or an expression? eg:- values can be
# integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

In [ ]:
element = input("Enter an element")
l = ['*', '/', '+' ,'-']
if element in l:
    print("Entered element is expression")

elif element not in l:
    print("Entered element is Value")

# 2.What is the difference between string and variable?

In [ ]:
Variable: Variables are symbols that you can use to store data in a program.
variable is an identifier to store a value in a memory location and to manipulate it if needed.
A variable can be of several types like integer, string, float, etc. based on the value you assign to it.
ex: v = "hi ineuron" or v = 10
Here 'v'is Variable


String: String is one of the data type and As far as Python is concerned, anything you assign to a variable using quotes (single or double) will be 
considered as a string. Thus, a string is one of several types of a variable.
Ex: a = "hi ineuron"
here 'a' is of typre string

# 3. Describe three different data types.

In [ ]:
1. Python List:
List is a data type which is used to store multiple items in a single variable. 
List is created by placing elements inside square bracket [] seperated by commas and can contain different types like int,float,string etc..
Lists are mutable which means they can be changed after creation
Ex: l = [1,2,3,"ineuron","hyderabad",-45,]
Here l is of type list. They can be accessed using indexes. #l[0] = 1

2.Tuple:
Tuple is a data type which is used to store multiple items in a single variable.
Tuple is created by placing elements inside paranthesis () seperated by commas and can contain different types like int,float,
string,etc..
Tuples are immutable which means they can't be unchanged.

Ex: t = (1,3,"sashi","hyderabad")

3.Dictionary:
Dictionary is a data type that is used to store data in key:values pairs.
It is created by placing elements inside {}.
We can retrieve values when the key is known.
Ex: capitals = {"india": "delhi", "France": "Paris"}
capitals["France"] will give the output Paris

# 4.What is an expression made up of? What do all expressions do?

In [ ]:
Expression is a combination of Operators and Operands that produces some other value.
Ex: x = 2 + 4
print(x) ---> Constant Expression

x = 40, y = 50
add = x + y   (Arithmetic Expression)

a = 10, b = 5
print(a>5) ---> Relation Expression

p = (10 == 9)
q = (2+5 == 7)
print(p and q) will return False -----> Logical Expression

# 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Expression evaluates to a single value and a statement does not.

# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [ ]:
Bacon will contain 22 only because bacon + 1 doesn't reassign the value in bacon
if it was bacon = bacon + 1 then answer would be 23

# 7. What should the values of the following two terms be?
# &#39;spam&#39; + &#39;spamspam&#39;
# &#39;spam&#39; * 3

In [ ]:
Both expressions would be 'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Variable name is not allowed to begin with numbers

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
int(), float() and str()

# 10. Why does this expression cause an error? How can you fix it? &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [ ]:
Here 99 is an integer and strings cannot concatenate with integers. Inorder to fix we need to use str(99) .